.dashboard-wrapper {
  height: 100%;
  .search-bar {
    position: sticky;
    top: 0;
    margin: 0.5rem 0;
    background-color: rgb(18, 18, 18);
  }
  cdk-virtual-scroll-viewport {
    height: 100%;
  }
}
