@import '_theming';
html,
body,
app-root{
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 200;
  color: white;
  background-color: rgb(18, 18, 18);
  @include angular-material-theme($dark-theme);
}
